@font-face {
  font-family: "Avenir";
  src: url("../../max-wanless-bandsite/assets/Font/AvenirNextLTPro-Regular.otf") format("otf"),
    url("../../max-wanless-bandsite/assets/Font/Alternative files/AvenirNextLTPro-Regular.ttf") format("ttf"),
    url("../../max-wanless-bandsite/assets/Font/Alternative files/AvenirNextLTPro-Regular.woff2") format("woff2"),
    url("../../max-wanless-bandsite/assets/Font/Alternative files/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../../max-wanless-bandsite/assets/Font/AvenirNextLTPro-Bold.otf") format("otf"),
    url("../../max-wanless-bandsite/assets/Font/Alternative files/AvenirNextLTPro-Bold.ttf") format("ttf"),
    url("../../max-wanless-bandsite/assets/Font/Alternative files/AvenirNextLTPro-Bold.woff2") format("woff2"),
    url("../../max-wanless-bandsite/assets/Font/Alternative files/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../max-wanless-bandsite/assets/Font/AvenirNextLTPro-Demi.otf") format("otf"),
    url("../../max-wanless-bandsite/assets/Font/Alternative files/AvenirNextLTPro-Demi.ttf") format("ttf"),
    url("../../max-wanless-bandsite/assets/Font/Alternative files/AvenirNextLTPro-Demi.woff2") format("woff2"),
    url("../../max-wanless-bandsite/assets/Font/Alternative files/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

