@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: bold;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Avenir";
}

.header {
  width: 100%;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.header__logo {
  height: 1.75rem;
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .header__logo {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    margin: 0 4rem 0 8rem;
  }
}
.header__link {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
@media (min-width: 768px) {
  .nav {
    justify-content: flex-start;
    align-items: center;
  }
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .nav__list {
    margin-top: 0;
  }
}
.nav__item {
  text-align: center;
  color: #E1E1E1;
  width: 50vw;
  height: 100%;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .nav__item {
    padding: 2rem 0;
    width: auto;
    margin: 0 2.25rem;
  }
}
.nav__item-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #E1E1E1;
}
.nav__item-link:hover {
  color: #FFFFFF;
}
.nav__item--selected {
  font-weight: bold;
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
}
.nav__item:hover {
  border-bottom: 4px solid #FFFFFF;
}

.hero {
  display: flex;
  align-items: center;
  height: 65vw;
  width: 100%;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
}
.hero__overlay {
  width: inherit;
  height: inherit;
  background-color: #323232;
  opacity: 0.5;
}
.hero__title {
  font-size: 1.5rem;
  font-weight: 100;
  margin-left: 1rem;
  position: absolute;
  color: #FFFFFF;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    font-weight: bold;
    margin-left: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    margin-left: 8rem;
  }
}

.bio__title {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem 1rem;
}
@media (min-width: 768px) {
  .bio__title {
    font-size: 2.25rem;
    margin: 3rem 0 2.25rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .bio__title {
    margin: 3rem 0 2.25rem 8rem;
  }
}
.bio__content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0 1rem 1rem;
}
@media (min-width: 768px) {
  .bio__content {
    padding: 0 5rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .bio__content {
    padding: 0 13rem 2.25rem;
  }
}
.bio__img {
  height: 50vw;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .bio__img {
    height: 40vw;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .bio__img {
    height: 35vw;
  }
}
.bio__qoute-text {
  margin-bottom: 1rem;
  font-weight: bold;
}
.bio__quote-author {
  margin-bottom: 1rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .bio__quote-author {
    margin-bottom: 2.25rem;
  }
}
.bio__sub-title {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}
.bio__text-block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .bio__text-block {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
.bio__text {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .bio__text {
    width: 45%;
  }
}

.photo-gallery {
  background-color: #E1E1E1;
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .photo-gallery {
    padding: 0 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .photo-gallery {
    padding: 0 8rem 2.25rem 8rem;
  }
}
.photo-gallery__title {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem 0;
}
@media (min-width: 768px) {
  .photo-gallery__title {
    font-size: 2.25rem;
    margin: 3rem 0 2.25rem 0;
  }
}
.photo-gallery__block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .photo-gallery__block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
  }
}
.photo-gallery__item {
  margin: 1.5vw 0;
}
@media (min-width: 768px) {
  .photo-gallery__item {
    width: 31%;
    margin: 1.25vw 0;
  }
}
.photo-gallery__img {
  width: 100%;
}

.footer {
  width: 100%;
  background-color: #323232;
  color: #E1E1E1;
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 0 2.25rem 2.25rem 2.25rem;
  }
}
.footer__block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__title {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem 0;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    margin: 3rem 0 2.25rem 0;
  }
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__social {
    padding: 0;
    margin: 0 2rem;
  }
}
.footer___social-icon {
  height: 2rem;
}
.footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo {
    display: inline-block;
    height: 2rem;
  }
}
.footer__contact {
  padding-bottom: 3rem;
}
@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60vw;
  }
}
.footer__contact-card {
  padding-bottom: 2rem;
}
.footer__contact-name {
  font-size: 1.1rem;
  font-weight: normal;
  padding-bottom: 0.25rem;
}
.footer__contact-title {
  font-size: 1.1rem;
  padding-bottom: 1.5rem;
}
.footer__contact-address {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
.footer__contact-email {
  font-size: 1.1rem;
  text-decoration: none;
  color: #E1E1E1;
}
.footer__copyright-logo {
  max-width: 120px;
  max-height: 20px;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .footer__copyright-logo {
    display: none;
  }
}
.footer__copyright-text {
  font-size: 0.8rem;
  font-weight: normal;
}/*# sourceMappingURL=bio.css.map */