@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/colors" as *;
@use "./partials/global" as *;

.bio {
  &__title {
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem 1rem;
    @include tablet {
      font-size: 2.25rem;
      margin: 3rem 0 2.25rem 2.25rem;
    }
    @include desktop {
      margin: 3rem 0 2.25rem 0;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0 1rem 1rem;
    @include tablet {
      padding: 0 5rem 2.25rem;
    }
    @include desktop {
      max-width: 70rem;
      padding-left: 2.25rem;
      margin: 0 auto;
    }
  }
  &__img {
    height: 50vw;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 2.25rem;
    }
    @include desktop {
      max-height: 35rem;
      height: 35vw;
    }
  }
  &__qoute-text {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__quote-author {
    margin-bottom: 1rem;
    font-weight: bold;
    @include tablet {
      margin-bottom: 2.25rem;
    }
  }
  &__sub-title {
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }
  &__text-block {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
  &__text {
    padding-top: 1rem;
    @include tablet {
      width: 45%;
    }
  }
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-color-alabaster;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  @include tablet {
    padding: 0 2.25rem 2.25rem 2.25rem;
  }
  @include desktop {
    padding: 0 8rem 2.25rem 8rem;
  }

  &__title {
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem 0;
    width: 100%;
    @include tablet {
      font-size: 2.25rem;
      margin: 3rem 0 2.25rem 0;
    }
  }
  &__block {
    
    // flex-direction: column;
    @include tablet {display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-evenly;
    }
    @include desktop {
      max-width: 70rem;
    }
  }
  &__item {
    margin: 1rem 0;
    @include tablet {
      width: 31%;
      margin: 1rem 0;
    }
  }
  &__img {
    width: 100%;
    filter: grayscale(100%);
    transition: 0.25s;
    &:hover {
      filter: grayscale(0%);
    }
  }
}

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 0 1rem;
  width: 100%;
  @include tablet {
    padding: 0 5rem 0 5rem;
  }
  @include desktop {
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    width: 100%;
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem 1rem;
    @include tablet {
      font-size: 2.25rem;
      margin: 3rem 0 2.25rem 2.25rem;
    }
    @include desktop {
      max-width: 70rem;
      margin: 3rem 0 2.25rem 8rem;
    }
  }
}

.form {
  font-family: "Avenir", Times, serif;
  display: flex;
  flex-direction: column;
  width: 80%;
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 0;
    width: 100%;
    @include desktop {
      width: 35rem;
    }
  }
  &__sub-title {
    color: $primary-color-silver;
  }
  &__img {
    width: 2.25rem;
    height: 2.25rem;
    background-image: url("../assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-top: 1.4rem;
    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }
  &__text-input {
    outline: none;
    font-family: "Avenir", Times, serif;
    height: 2.25rem;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-top: 0.25rem;
    border: 1px solid $secondary-color-mecury;
    margin-bottom: 1rem;
    overflow-y: hidden;
    resize: none;
    background-color: $secondary-color-alabaster;
    @include tablet {
      height: 3rem;
      padding: 1rem;
    }
    &--comment {
      height: 5rem;
    }
    &--error {
      border: 1px solid #d22d2d;
    }
    &:focus {
      border: 1px solid $primary-color-black;
    }
  }
  &__button {
    background-color: $primary-color-black;
    color: $primary-color-white;
    height: 2.5rem;
    min-width: 9.375rem;
    width: 100%;
    border-style: none;
    border-radius: 0.25rem;
    transition: ease 0.25s;
    cursor: pointer;
    &:hover {
      background-color: $secondary-color-dark-black;
    }
    @include tablet {
      min-width: 9.375rem;
      padding-left: 2rem;
      padding-right: 2rem;
      width: 25%;
      align-self: flex-end;
    }
  }
}

.comment {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0 1rem 0;
  border-collapse: collapse;
  border-bottom: 1px solid $secondary-color-mecury;
  &__img {
    height: 2.25rem;
    width: 2.25rem;
    background-color: $secondary-color-mecury;
    border-radius: 50%;
    border-style: none;
    z-index: 2;
    @include tablet {
      width: 3rem;
      height: 3rem;
    }
    &-container {
      width: 2.25rem;
      @include tablet {
        width: 3rem;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  &__header {
    &-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.25rem;
    }
    &-text--time{
      color: $secondary-color-mecury;
    }
  }
  &-feed {
    border-top: 1px solid $secondary-color-mecury;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 2rem;
    }
    @include desktop {
      width: 35rem;
    }
  }
  &__interaction {
    &-container {
      display: flex;
      align-self: flex-end;
      justify-content: space-between;
      align-items: center;
    }
    &-text {
      color: $secondary-color-mecury;
      font-weight: bold;
      margin-right: 0.5rem;
      font-size: 1rem;
    }
    &-button {
      &--like {
        background-color: $primary-color-black;
        color: $primary-color-white;
        border-style: none;
        width: 2rem;
        height: 2rem;
        border-radius: 0.25rem;
        transition: ease 0.25s;
        margin: 0 0.25rem;
        cursor: pointer;
        &:hover {
          background-color: $secondary-color-dark-black;
        }
      }
      &--delete {
        background-color: $primary-color-black;
        color: $primary-color-white;
        border-style: none;
        width: 2rem;
        height: 2rem;
        border-radius: 0.25rem;
        transition: ease 0.25s;
        margin: 0 0.25rem;
        cursor: pointer;
        &:hover {
          background-color: $secondary-color-dark-black;
        }
      }
    }
  }
}
