@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/colors" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Avenir";
}

.header {
  width: 100%;
  background-color: $primary-color-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  &__logo {
    @include bandsite-logo;
    margin-top: 1rem;
    @include tablet {
      margin: 0 5vw;
    }
  }
  &__link {
    text-decoration: none;
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    margin-top: 1rem;
    width: 100%;
    @include tablet {
      width: 25vw;
    }
    text-decoration: none;
  }
  &__item {
    text-decoration: none;
    text-align: center;
    color: $secondary-color-mecury;
    width: 50vw;
    padding-bottom: 1rem;
    @include tablet {
      height: 100%;
      width: 100%;
    }
    &--selected {
      font-weight: bold;
      color: $primary-color-white;
      border-bottom: 4px solid $primary-color-white;
    }
    &:hover {
      color: $primary-color-white;
      border-bottom: 4px solid $primary-color-white;
    }
  }
  &__link {
    text-decoration: none;
    height: 100%;
  }
}

.hero {
  display: flex;
  align-items: center;
  height: 65vw;
  width: 100%;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  &__overlay {
    width: inherit;
    height: inherit;
    display: inherit;
    align-items: center;
    justify-content: flex-start;
    background-color: $primary-color-black;
    opacity: 0.5;
    padding: 1.5rem;
  }
  &__title {
    font-size: 2rem;
    font-weight: 100;
    margin-left: 2rem;
    position: absolute;
    color: $primary-color-white;
    z-index: 1;
    @include tablet {
      font-size: 5rem;
      font-weight: bold;
      margin-left: 3rem;
    }
  }
}

.bio {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 1rem;
  @include tablet {
    padding: 2rem 10vw;
  }
  @include desktop{
    padding: 2rem 15vw;
  }
  &__title {
    font-size: 2rem;
    margin: 1rem 0;
  }
  &__img {
    height: 50vw;
    margin-bottom: 1rem;
  }
  &__qoute-text {
    margin-bottom: 1rem;
  }
  &__quote-author {
    margin-bottom: 1rem;
  }
  &__sub-title {
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }
  &__text-block {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
  &__text {
    padding-top: 1rem;
    @include tablet {
      width: 45%;
    }
  }
}

.photo-gallery {
  background-color: $secondary-color-mecury;
  &__title {
    font-size: 2rem;
    align-self: flex-start;
    margin: 5vw;
  }
  &__block {
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-evenly;
    }
  }
  &__item {
    margin: 1.5vw 0;
    @include tablet {
      width: 30%;
      margin: 1.25vw 0;
    }
  }
  &__img {
    width: 100%;
  }
}

.footer {
  width: 100%;
  background-color: $primary-color-black;
  color: $secondary-color-mecury;
  padding: 1.25rem;
  @include tablet {
    padding: 2rem;
  }
  &__block {
    display: flex;
    flex-direction: column;
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 2rem;
    padding: 1.5rem 0;
  }
  &__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10rem;
    padding-bottom: 1rem;
    @include tablet {
      padding: 0;
      margin: 0 2rem;
    }
  }
  &___social-icon {
    height: 2rem;
  }
  &__logo {
    display: none;
    @include tablet {
      display: inline-block;
      height: 2rem;
    }
  }
  &__contact {
    padding-bottom: 3rem;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 60vw;
    }
    &-card {
      padding-bottom: 2rem;
    }
    &-name {
      font-size: 1.1rem;
      font-weight: normal;
      padding-bottom: 0.25rem;
    }
    &-title {
      font-size: 1.1rem;
      padding-bottom: 1.5rem;
    }
    &-address {
      font-size: 1.1rem;
      margin-bottom: 2rem;
    }
    &-email {
      font-size: 1.1rem;
      text-decoration: none;
      color: $secondary-color-mecury;
    }
  }
  &__copyright {
    &-logo {
      @include bandsite-logo;
      margin-bottom: 1.5rem;
      @include tablet {
        display: none;
      }
    }
    &-text {
      font-size: 0.8rem;
      font-weight: normal;
    }
  }
}
