@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/colors" as *;
@use "./partials/global" as *;

.shows {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: $primary-color-white;
  @include desktop {
    margin: 3rem auto 2rem auto;
  }
  @include desktop {
    flex-direction: row;
    width: 80vw;
    align-items: flex-start;
  }
  &__title {
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem 0;
    @include desktop {
      margin: 0;
      font-size: 2.5rem;
    }

    &-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      @include desktop {
        align-items: flex-start;
        justify-content: flex-start;
        width: 15%;
        height: 100%;
      }
    }
  }
  &__table {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include desktop {
       width: 85%;
    }
    &-tr {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $secondary-color-mecury;
      padding: 1.5rem 0;
      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem 1rem;
      }
      &--selected {
        background-color: $secondary-color-mecury;
      }
      &:hover {
        background-color: $secondary-color-alabaster;
      }
      &--header {
        display: none;
        @include tablet {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
          padding: 0 1rem;
          color: $primary-color-silver;
          font-weight: bold;
        }
        @include desktop{
          margin-bottom: 0;
          margin-top: 1.25rem;
        }
      }
    }
    &-td {
      width: 100%;
      margin-bottom: 1.25rem;
      &:nth-child(2){
        font-weight: 700;
      }
      @include tablet {
        width: 25%;
        margin-bottom: 0;
      }
      &--header {
        width: 100%;
        @include tablet {
          width: 25%;
        }
      }
      &--mobile {
        margin-bottom: 0.75rem;
        color: $primary-color-silver;
        font-weight: bold;
        @include tablet {
          display: none;
        }
      }
    }
  }
  &__button {
    background-color: $primary-color-black;
    font-size: 1.25rem;
    color: $primary-color-white;
    height: 2.5rem;
    width: 100%;
    border-style: none;
    border-radius: 0.25rem;
    transition: ease 0.25s;
    @include tablet {
      font-size: 1rem;
      max-width: 150px;
      width: 25%;
    }
    &:hover {
      background-color: $secondary-color-dark-black;
    }
  }
}

.show__container {
  @include tablet {
    display: flex;
    justify-content: space-evenly;
    width: 65vw;
  }
  &-sub-title {
    @include tablet {
      display: none;
    }
  }
}
