@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/colors" as *;
@use "./partials/global" as *;

.hero {
  display: flex;
  align-items: center;
  width: 100%;
  background-image: url("../assets/Images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__container {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $primary-color-white;
    padding: 1rem;
    background-color: rgba($primary-color-black, 0.5);
    @include tablet{
      padding: 2rem;
    }
    @include desktop{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10rem 5rem ;
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    min-width: 5rem;
    width: 18.125rem;
    @include tablet {
      width: 70%;
      font-size: 3.75rem;
      font-weight: bold;
    }
  }
  &__sub-title {
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
    @include tablet{
      font-size: 2.25rem;
    }
  }
  &__player{
    height: 9rem;
    &-container{
      @include tablet{
        width: 55%;
      }
    }
  }
}

.shows{
  display: flex;
  flex-direction: column;
  width: 100%;
  @include tablet{
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
  }
  &__title{
    &-container{
      display: inline-block;
    }
  }
  &__header-container{
    display: none;
    @include tablet{
      display: flex;
      justify-content: space-between;
      width: 65vw;
    }
  }
  &__list-container{
    display: inline-block;
  }
}

.show__container{
  @include tablet{
    display: flex;
    justify-content: space-between;
    width: 65vw;
  }
  &-sub-title{
    @include tablet{
      display: none;
    }
  }
}